.space{
    padding-top: .1%;
}

/* boxes */

.box1{
    width: 100px;
    height: 100px;
    background:red;
    margin-top: 20px;
    display:none;
}
.box2{
    width: 100px;
    height: 100px;
    background:powderblue;
    margin-top: 20px;
    display:none;
}
.box3{
    width: 100px;
    height: 100px;
    background:green;
    margin-top: 20px;
    display:none;
}
/* ================/ jquery slide /===================== */

.btn{
    width: 400px;
    background: black;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.lorem{
    width: 400px;
    background: tomato;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    float: left;
    display: none;
}

/* =====================/ Jquery animation /================== */

.animdiv{
    width: 100px;
    height: 100px;
    background: tomato;
    margin-top: 50px;
    position: relative;
}

/* ================/ jQuery addclass /==================== */

.addclass {
    width: 100px;
    height: 100px;
    background-color: #ccc;
  }
  .big-blue {
    width: 200px;
    height: 200px;
    background-color: #00f;
  }